<p>
    <strong>Name:</strong>
    <%= datefood.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= datefood.description %>
</p>

<p>
    <strong>Link:</strong>
    <%= datefood.link %>
</p>

<p>
    <strong>Location:</strong>
    <%= datefood.location %>
</p>