<p style = "color:#18CAE6;font-size:25px;">
    <strong>Name:</strong>
    <%= datefood.name %>
</p>

<p style = "color:#18CAE6;font-size:25px;">
    <strong>Description:</strong>
    <%= datefood.description %>
</p>

<p style = "color:#18CAE6;font-size:25px;">
    <strong>Link:</strong>
    <%= datefood.link %>
</p>

<p style = "color:#18CAE6;font-size:25px;">
    <strong>Location:</strong>
    <%= datefood.location %>
</p>