<p style = "color:#18CAE6; font-size:25px;">
    <strong>Name:</strong>
    <%= dateactivity.name %>
</p>

<p style = "color:#18CAE6;font-size:25px;">
    <strong>Description:</strong>
    <%= dateactivity.description %>
</p>

<p style = "color:#18CAE6;font-size:25px;">
    <strong>Link:</strong>
    <%= dateactivity.link %>
</p>

<p style = "color:#18CAE6;font-size:25px;">
    <strong>Location:</strong>
    <%= dateactivity.location %>
</p>