<h1>Generate a Date Night Page</h1>

<p>Hit submit to generate a Date Night.</p>

<%= form_for :generator, url:generator_index_path do |f| %>

<p>
    <%= f.submit %>
</p>

<% end %>

<%= render 'date_night/nav' %>