<h3>Generate a Date Night Page</h3>

<p>Make sure before you go on any dates, you're familiar with safe dating practices to keep yourself (and your date) safe!</p>
<p>We recommend checking out the "Safe Dating Practices" link at the bottom of the page if you haven't already.</p>
<p>When you're ready, click "Generate My Date" to generate a Date Night.</p>

<%= form_for :generator, url:generator_index_path do |f| %>

<p>
    <%= f.submit "Generate My Date" %>
</p>

<% end %>

<br>
<br> 
<br>

<%= render 'date_night/nav' %>