<h3>Generate a Date Night Page</h3>

<p>Hit submit to generate a Date Night.</p>

<%= form_for :generator, url:generator_index_path do |f| %>

<p>
    <%= f.submit "Generate My Date" %>
</p>

<% end %>

<br>
<br> 
<br>

<%= render 'date_night/nav' %>