 <!-- I think we can include links for these pages on safe dating practices -->
 <!-- http://modelmugging.org/crime-within-relationships/dating-safety/ -->
 <!-- https://blog.beirresistible.com/safe-dating/ -->
 <!-- 
<p>Terms of Service: <a href="https://blog.beirresistible.com/safe-dating/">Safe Dating Practices</a> </p>
<p>&copy; Copyright 2019 DateNight. All Rights Reserved</p>
-->
