<h1>Date Night</h1>
<br>
<h2>Slid into the DMs...Now What?</h2>

<br>
<br>
    
<p>Welcome to Date Night! So you got the date, and now you have to decide places without
looking like a fool. Been there done that, that is why we're here. Don't worry about what you'll 
do let us do the grunt work and you work on your looks. Click the generate button to generate a 
series of small activities so you can have the greatest date of all time (pleasant dating partners not 
guaranteed though!)</p>

<br>
<br>