<hr>
    
<!-- 
<form>
    <input type="checkbox" name="AgToS" value="ToS"><span>I agree to the Terms of Service </span> <br>
</form>
    
<br>
-->
<%= link_to 'Generate A Date', new_generator_path %>
<br>
<br>
<%= link_to 'View All', activity_index_path %>
<%= link_to 'Submit A New Date', new_user_submission_path %>
<a href="https://blog.beirresistible.com/safe-dating/">Safe Dating Practices</a>
<p>&copy; Copyright 2019 DateNight. All Rights Reserved</p>
<%= link_to 'Admin', user_submission_index_path %>