    
<%= link_to 'Generate', new_generator_path %>
    
<br>
<br>
    
<form>
    <input type="checkbox" name="AgToS" value="ToS"> I agree to the Terms of Service<br>
</form>
    
<br>
    
<%= link_to 'View All', user_submission_index_path %>
<%= link_to 'Submit', new_user_submission_path %>