    
<%= link_to 'Generate', new_generator_path %>
    
<br>
<br>
    
<form>
    <input type="checkbox" name="AgToS" value="ToS"><span>I agree to the Terms of Service </span> <br>
</form>
    
<br>
    
<%= link_to 'View All', activity_index_path %>
<%= link_to 'Submit', new_user_submission_path %>