<h1>Date Night</h1>
<h2>Slid into the DMs...Now What?</h2>

<p>Welcome to Date Night!</p>
<p>Generate functionality will go here: generate, view all, sumbit</p>
<p>Find me in app/views/date_night/generate.html.erb</p>


<p>This edit was made in Front-End Branch and pushed to Front-End and merged to Master</p>