<p>This is the homepage for the site</p>
<p>Generate functionality will go here: generate, view all, sumbit</p>
    
<br>
    

<button>Generate - should go to /generate/new</button>


<br>
<br>
    
<form>
    <input type="checkbox" name="AgToS" value="ToS"> I agree to the Terms of Service<br>
</form>
    
<br>
    
<button>View All - should go to /activity/index</button>
<button>Submit - should go to /activity/new</button>
    


