<p>
    HERE WE WILL SHOW THE GENERATED DATE THAT THE USER WILL ENJOY
</p>


<br>
    
<button>Generate</button>
    
<br>
<br>
    
<form>
    <input type="checkbox" name="AgToS" value="ToS"> I agree to the Terms of Service<br>
</form>
    
<br>
    
<button>View All</button>
<button>Submit</button>
    