/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

header {
    font-family: "Agency-FB";
    text-align: center;
    font-variant: bold;
  
}

footer{
    text-align: center
}

body, a {
    text-align: center;
    background-color: #171614;
}

h1 {
    
    font-size: 200px; 
    color:#ff0066;
}

h2 {
    color: #ff0066;
    font-style: italic;
    font-size: 50px;
}

h3{
  color: #ff0066;
  font-size: 35px;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    color: #18CAE6; 
}


span {
    color: #754043;
}



a:link, a:visited, button, input[type=submit] {
  box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

a:hover, a:active {
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;

}

input[type=text], select, textarea {
  alignment-baseline: central;
  width: 15%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #505739;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}





table {

  border: 3px;
  overflow-x: auto;
  margin: 0px auto;
  background-color: #BBBBBB;
  border-color: #ff0066;
}

th {
  background-color: #ff0066;
  font-size:20px;
}

td{
  max-width:300px;
}

th, td {
  border: 1px;
  border-color: #ff0066;
  padding: 15px;
  text-align: left;
  
}

tr:nth-child(even) {
    background-color: #EEEEEE;
    
}

tr:hover {
    background-color: #ff0066;
    color: white;
}
